$color-primary: #00b7ff;
$color-secondary: #c6dadb;
$color-white: #fff;
$color-black: #000;

$color-grey50: #ebf0f4;
$color-grey100: #cdd8dc;
$color-grey300: #8ea3ad;
$color-grey500: #607d8b;
$color-grey700: #445964;
$color-grey900: #253137;
