@import "media";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6rem;
}

* {
  box-sizing: border-box;
}

// $font-stack: "Poppins", sans-serif;

.container {
  width: 100%;
  margin: 0 auto;
  // background-color: lightblue;

  @include tablet-landscape-up {
    width: 80%;
  }

  @include big-desktop-up {
    width: 70%;
  }
}
