@import "media";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;

  background-image: url("../public/Grey-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 1.2em;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6rem;
}

* {
  box-sizing: border-box;
}

button {
  font-family: "Open Sans", sans-serif;
}
// $font-stack: "Poppins", sans-serif;

.container {
  width: 90%;
  margin: 0 auto;
  // background-color: lightblue;

  @include tablet-landscape-up {
    width: 80%;
  }

  @include big-desktop-up {
    width: 70%;
  }
}

// .mainWrapper {
//   margin: 0;
//   padding: 0;
// }
