// @import "mixins";
@import "colors";
@import "media";
@import "grids";
@import "utilities";
@import "sections";

.main {
  padding: 10rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // font-family: $font-stack;
}

.box {
  width: 100%;
  padding: 4rem 0;
  margin: 1rem 0;

  @include phone-only {
    padding: 2rem 0;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  font-weight: 400;

  a {
    color: $color-primary;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

// .title a:hover,
// .title a:focus,
// .title a:active {
//   text-decoration: underline;
// }

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  // font-family: $font-stack;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;

  @include phone-only {
    width: 100%;
    flex-direction: column;
  }
}

.card {
  margin: 1rem 0;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;

  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-primary;
    border-color: $color-primary;
  }

  @include phone-only {
    width: 100%;
    margin: 0.5rem 0;
    // flex-direction: column;
  }
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.section_parallax {
  position: relative;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;

  // @include tablet-landscape-up {
  //   height: 100vh;
  //   width: 100%;
  // }

  .parallax_container {
    z-index: 1000;
    width: 90%;
    margin: 0 auto;

    // opacity: 0.99;

    // background-color: lightblue;

    @include tablet-landscape-up {
      width: 80%;
      height: 100%;
    }

    @include big-desktop-up {
      width: 70%;
      height: 100%;
    }

    div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        color: $color-white;
        font-size: 4rem;
      }

      p {
        color: $color-white;
      }
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("../public/city1_red.jpg");
    clip-path: circle(10% at 50% 50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

// section stagger

.section_stagger {
  position: relative;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;

  background-color: $color-grey50;

  // @include tablet-landscape-up {
  //   height: 100vh;
  //   width: 100%;
  // }

  .stagger_container {
    width: 90%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    // opacity: 0.99;

    // background-color: lightblue;

    @include tablet-landscape-up {
      width: 80%;
      height: 100%;
    }

    @include big-desktop-up {
      width: 70%;
      height: 100%;
    }

    .s_box {
      height: 60px;
      width: 60px;
      background-color: $color-primary;
      margin: 0.5rem;
      display: inline-block;
      padding: 0;
      // opacity: 0;
    }
  }
}
